{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="row">
            <div class="col-md-3">
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" />
            </div>
            <div class="col-md-3">
                <label for="password">Mot de passe :</label>
                <input type="password" class="form-control" id="password" name="_password" />
            </div>
            <div class="col-md-3">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-success" type="submit" style="margin-top: 24px">Se connecter</button>
            </div>
        </div>
    </form>
{% endblock %}
