# Project language
language: php

# php version
php:
  - '7.3'

# Allows use container-based infrastructure
sudo: false

# Start mysql service
services:
  - mysql

# Define an environment variable
env:
  - SYMFONY_VERSION="4.4.*" DB=mysql

test:
  adapter: mysql2
  username: root
  password: root
  encoding: utf8

# Update composer
before-install:
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

# Install composer dependencies,
# Create database, schema and fixtures
install:
  - composer install
  #- cp .env.dist .env
  - php bin/console doctrine:database:create
  - php bin/console doctrine:schema:create
  - php bin/console doctrine:fixtures:load -n

# Run script
script:
  - composer install
  - vendor/bin/phpunit

#branches:
#  only:
#    - units_tests